<ons-page class="bgImgOver">
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Get Started</div>
        <div class="right">
            <ons-toolbar-button ng-click="showActionMenu()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-card>
        <div class="content">
            <ons-row align="center">
                <ons-col width="100%">
                    <img src="images/readySetGo.jpg" style="width: 100%; max-width:700px;">
                </ons-col>
            </ons-row>
            <p>Jump in and start managing your sports team like a professional.</p>
            <h3>For Managers</h3>
            <ons-button modifier="outline" style="line-height: 35px;">Sign up as a Manager</ons-button>
            <ons-button modifier="outline" style="line-height: 35px;">Enter your Team details</ons-button>
            <ons-button modifier="outline" style="line-height: 35px;">Enter player details</ons-button></div>
            <ons-button modifier="outline" style="line-height: 35px;">Add your Team Logo</ons-button>
            <ons-button modifier="outline" style="line-height: 35px;">Select Team colour</ons-button>
            <ons-button modifier="outline" style="line-height: 35px;">Select Complete to start your team!</ons-button>
            <h3>For Players</h3>
            <ons-button modifier="outline" style="line-height: 35px;">Sign up as a Player</ons-button>
            <ons-button modifier="outline" style="line-height: 35px;">Select your Team</ons-button>
        </div>
    </ons-card>
</ons-page>