<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Forgot Password</div>
        <div class="right">
            <ons-toolbar-button ng-click="showActionMenu()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-card>
        <div class="title">
            FORGOT PASSWORD
        </div>
        <div class="content">
            <ul>
                <li>Enter your <strong>username</strong> in the field below and click “Continue”.</li>
                <li>A temporary password will be e-mailed to you.  Please allow up to 5 minutes for your temporary password to be delivered, DO NOT click on “forgot password” again.</li>
                <li>When you receive the password, go to the login screen and login with your loyalty number as username & your temporary password.</li>
                <li>Go to your Profile and update your temporary password to your password of choice.</li>
            </ul><div class="formList">
                <div class="form-row formListInputLrg">
                    <input type="text" class="text-input" ng-model="data.reset_MPacc" placeholder="Username" value="">
                </div>
                <br>
                <ons-button modifier="large" id="btnLogIn" ng-click="restPass()" style="width:100%">Continue</ons-button>
                <p>&nbsp;</p>
            </div>
        </div>
    </ons-card>
    <ons-bottom-toolbar style="background-color: #fff; height: auto;">
        <img src="images/FooterImg.svg" alt="logo" style="width: 100%;" />
    </ons-bottom-toolbar>
</ons-page>