<ons-page class="bgImgOver">
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Profile</div>
        <div class="right">
            <ons-toolbar-button ng-click="showActionMenu()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-card>
        <div class="title">
            Change password
        </div>
        <div class="content">
            <p>Please ensure that your password is kept safe at all times.</p>
            <p>These are the rules to set up your password:</p>
            <ul>
                <li>Minimum of 5 characters</li>
                <li>At least 1 lower case character</li>
                <li>At least 1 upper case character</li>
                <li>At least 1 numeric character</li>
            </ul>
            <div class="formList">
                <div class="form-row formListInputLrg">
                    <input type="hidden" class="text-input" ng-model="data.pu_MPacc" ng-value="userMpacc">
                </div>
                <br>
                Current Password: {{userPass}}
                <div class="form-row formListInputLrg">
                    <input type="hidden" class="text-input" ng-model="data.pu_oldPass" ng-value="userPass">
                </div>
                <br>
                <div class="form-row formListInputLrg">
                    <input type="password" class="text-input" ng-model="data.pu_newPass" placeholder="New Password" value="">
                </div>
                <br>
                <div class="form-row formListInputLrg">
                    <input type="password" class="text-input" ng-model="data.pu_newPassR" placeholder="Retype New Password" value="">
                </div>
                <br>
                <ons-button modifier="large" id="btnLogIn" ng-click="updateCurPass()" style="width:100%">SUBMIT</ons-button>
                <p>&nbsp;</p>
            </div>
        </div>
    </ons-card>
    <ons-bottom-toolbar style="background-color: #fff; height: auto;">
        <img src="images/FooterImg.svg" alt="logo" style="width: 100%;" />
    </ons-bottom-toolbar>
</ons-page>